<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Agregar tienda</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">storefront</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>
<mat-dialog-content class="mat-typography">
  <p>
    <mat-form-field appearance="fill">
      <mat-label>ID</mat-label>
      <input matInput placeholder="" disabled="" value="512">
      <mat-icon matSuffix>fingerprint</mat-icon>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>Centro de costo</mat-label>
      <mat-select>
        <mat-option value="1">1001 Titan Plaza</mat-option>
        <mat-option value="2">1002 Hayuelos</mat-option>
        <mat-option value="3">1003 Centro Chia</mat-option>
        <mat-option value="4">1004 Centro Mayor</mat-option>
        <mat-option value="5">1006 Santa Fe</mat-option>
        <mat-option value="6">1010 Andino</mat-option>
        <mat-option value="6">1011 Galerias</mat-option>
        <mat-option value="6">1012 Salitre Plaza</mat-option>
        <mat-option value="6">1013 Plaza de las Americas</mat-option>
        <mat-option value="6">1014 Fontanar</mat-option>
        <mat-option value="6">1021 Viva Envigado</mat-option>
        <mat-option value="6">1022 Lojas BackOfiice</mat-option>
        <mat-option value="6">1024 Gran Estación</mat-option>
        <mat-option value="6">1025 Colina</mat-option>
        <mat-option value="6">1026 Caracoli</mat-option>
        <mat-option value="6">1027 Tesoro</mat-option>
        <mat-option value="6">1028 Unicentro</mat-option>
        <mat-option value="6">1029 Multiplaza</mat-option>
        <mat-option value="6">1030 CC plaza jardin cali</mat-option>
        <mat-option value="6">1031 Cartagena serrezuela</mat-option>
        <mat-option value="6">1032 Ibague la estación</mat-option>
        <mat-option value="6">1033 Barranquilla buenavista</mat-option>
        <mat-option value="6">1034 Cucuta plaza jardin</mat-option>
        <mat-option value="6">1035 Oboticario eventos</mat-option>
        <mat-option value="6">1036 Unicentro yopal</mat-option>
        <mat-option value="6">1037 Viva barranquilla</mat-option>
        <mat-option value="6">1038 Unicentro kiosko</mat-option>
        <mat-option value="6">1039 Kiosko Diver plaza</mat-option>
        <mat-option value="6">1040 Diver plaza</mat-option>
        <mat-option value="6">1041 Jardin Plaza Cali</mat-option>
        <mat-option value="6">1042 Plaza imperial</mat-option>
        <mat-option value="6">1043 Mall Plaza </mat-option>
        <mat-option value="6">1044 Plaza claro</mat-option>
        <mat-option value="6">1045 Viva Barranquilla</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Nombre de la tienda</mat-label>
      <input matInput placeholder="">
      <mat-icon matSuffix>store</mat-icon>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>Lider de tienda</mat-label>
      <input matInput placeholder="">
      <mat-icon matSuffix>supervisor_account</mat-icon>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>Correo electronico de la tienda</mat-label>
      <input type="email" matInput placeholder="">
      <mat-icon matSuffix>alternate_email</mat-icon>
    </mat-form-field>
  </p>
  <p>
    <mat-slide-toggle [(ngModel)]="isChecked">Tienda activa: {{isChecked}}</mat-slide-toggle>
  </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-stroked-button mat-dialog-close color="primary">Cancelar</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="true" cdkFocusInitial>Agregar</button>
</mat-dialog-actions>