<body>
    <mat-card>
        <form [formGroup]="formReg" (ngSubmit)="onSubmit()">
            <mat-card-title>Registro de usuarios</mat-card-title>
            <mat-card-subtitle>Oboticário</mat-card-subtitle>
            <br><br>
            <mat-form-field appearance="outline">
                <mat-label>Correo electrónico</mat-label>
                <input matInput type="text" formControlName="email" required>
                <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline" aria-required="true">
                <mat-label>Contraseña</mat-label>
                <input type="password" matInput placeholder="" value="" required formControlName="password">
                <mat-icon matSuffix>password</mat-icon>
            </mat-form-field>
            <button type="submit" mat-raised-button color="primary">Registrarme</button>
        </form>
    </mat-card>
</body>
<section>