mat-card {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    padding: 50px;
    z-index: 2;
    position: relative;
    top: 20%;
    color: #007E78;
}

mat-form-field {
    width: 100%;
    backdrop-filter: blur(5px);
}

button {
    width: 100%;
    border-radius: 20px;
    padding: 20px;
    background-color: #007E78;
}

body {
    background-image: url('https://www.modaes.com/files//000_2016/boticario/boticario-tienda-728.jpg');
    width: 100%;
    width: 1fr;
    height: 100vh;
    background-size: cover;
}

mat-card-title {
    font-size: 30px;
}

mat-card-subtitle {
    font-size: 15px;

}