<p>
    <mat-toolbar color="primary">
        <button mat-icon-button (click)="drawer.toggle()" class="example-icon" aria-label="">
            <mat-icon>menu</mat-icon>
        </button>
        <span>App Reembolsos</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" matTooltip="Buscar" aria-label="">
            <mat-icon>search</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" matTooltip="Usuario" aria-label="">
            <mat-icon>person</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" matTooltip="Mensajes" aria-label="">
            <mat-icon>mark_chat_unread</mat-icon>
        </button>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="openMiperfil()">
                <mat-icon>account_circle</mat-icon>
                <span>Mi Perfil</span>
            </button>
            <button mat-menu-item routerLink="/login">
                <mat-icon>logout</mat-icon>
                <span>Salir</span>
            </button>
        </mat-menu>
    </mat-toolbar>
</p>
<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side" opened>
        <mat-selection-list #shoes [multiple]="false">
            <mat-list-item role="listitem" routerLink="/home">Dashboard</mat-list-item>
            <mat-list-item role="listitem" routerLink="/tiendas">Tiendas</mat-list-item>
            <mat-list-item role="listitem" routerLink="/usuarios">Usuarios</mat-list-item>
            <mat-list-item role="listitem" routerLinkActive="active" routerLink="/reembolsos">Reembolsos</mat-list-item>
            <mat-list-item role="listitem" routerLink="solicitudes">Solicitudes</mat-list-item>
        </mat-selection-list>
    </mat-drawer>
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Bienvenido de nuevo, Edwin Escobar!</mat-card-title>
            <mat-card-subtitle>Administrador del sitio</mat-card-subtitle>
        </mat-card-header>
    </mat-card><br>
    <mat-tab-group mat-stretch-tabs="false" animationDuration="0ms" mat-align-tabs="start">
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">currency_exchange</mat-icon>
                Reembolsos
            </ng-template>

            <p>
                <mat-form-field appearance="fill" value="830037946-3">
                    <mat-label>NIT</mat-label>
                    <input type="number" matInput placeholder="">
                    <mat-icon matSuffix>apartment</mat-icon>
                  </mat-form-field>
              </p>
              <p>
                <mat-form-field appearance="fill" disabled="" value="Panamericana y Paperlería SA">
                    <mat-label>Beneficiario</mat-label> 
                    <input matInput placeholder="">
                    <mat-icon matSuffix>account_circle</mat-icon>
                  </mat-form-field>
              </p>
              <p>
                <mat-form-field appearance="fill">
                    <mat-label>Concepto de gasto</mat-label>
                    <mat-select>
                      <mat-option value="one">Auxilio de transporte</mat-option>
                      <mat-option value="two">Impresión Ploter</mat-option>
                      <mat-option value="tree">Compra refrigerio</mat-option>
                      <mat-option value="tree">Compra de vasos</mat-option>
                      <mat-option value="tree">Cambio de sencillo</mat-option>
                    </mat-select>
                  </mat-form-field>
              </p>
              <p>
                <mat-form-field appearance="fill">
                    <mat-label>Centro de costo</mat-label>
                    <mat-select>
                      <mat-option value="one">1001</mat-option>
                      <mat-option value="two">1002</mat-option>
                      <mat-option value="tree">1003</mat-option>
                      <mat-option value="four">1004</mat-option>
                      <mat-option value="five">1005</mat-option>
                      <mat-option value="six">1006</mat-option>
                    </mat-select>
                  </mat-form-field>

              </p>
              <p>
                <mat-form-field appearance="fill" value="">
                    <mat-label>Valor en pesos</mat-label>
                    <input type="number" matInput placeholder="">
                    <mat-icon matSuffix>attach_money</mat-icon>
                  </mat-form-field>
              </p>
              <p>
                <mat-form-field appearance="fill" value="">
                    <mat-label>IVA</mat-label>
                    <input type="number" matInput placeholder="">
                    <mat-icon matSuffix>attach_money</mat-icon>
                  </mat-form-field>
              </p>

              <p>
                <mat-form-field appearance="fill" disabled="" value="">
                    <mat-label>Total</mat-label>
                    <input type="number" matInput placeholder="">
                    <mat-icon matSuffix>payments</mat-icon>
                  </mat-form-field>
              </p>
              <p>
                Adjunte su comprobante
            </p>
                <p>
                    
                    <input type="file" name="" accept="png, .jpeg, .jpg, pdf">

                </p>
             
              
              
        </mat-tab>
    </mat-tab-group>
</mat-drawer-container>