<p>
    <mat-toolbar color="primary">
        <button mat-icon-button (click)="drawer.toggle()" class="example-icon" aria-label="">
            <mat-icon>menu</mat-icon>
        </button>
        <span>App Reembolsos</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" matTooltip="Buscar" aria-label="">
            <mat-icon>search</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" matTooltip="Usuario" aria-label="">
            <mat-icon>person</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" matTooltip="Mensajes" aria-label="">
            <mat-icon>mark_chat_unread</mat-icon>
        </button>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="openMiperfil()">
                <mat-icon>account_circle</mat-icon>
                <span>Mi Perfil</span>
            </button>
            <button mat-menu-item routerLink="/login">
                <mat-icon>logout</mat-icon>
                <span>Salir</span>
            </button>
        </mat-menu>
    </mat-toolbar>
</p>
<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side" opened>
        <mat-selection-list #shoes [multiple]="false">
            <mat-list-item role="listitem" routerLink="/home">Dashboard</mat-list-item>
            <mat-list-item role="listitem" routerLink="/tiendas">Tiendas</mat-list-item>
            <mat-list-item role="listitem" routerLink="/usuarios">Usuarios</mat-list-item>
            <mat-list-item role="listitem" routerLinkActive="active" routerLink="/reembolsos">Reembolsos</mat-list-item>
            <mat-list-item role="listitem" routerLink="solicitudes">Solicitudes</mat-list-item>
        </mat-selection-list>
    </mat-drawer>
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Bienvenido de nuevo, Edwin Escobar!</mat-card-title>
            <mat-card-subtitle>Administrador del sitio</mat-card-subtitle>
        </mat-card-header>
    </mat-card><br>
    <mat-tab-group mat-stretch-tabs="false" animationDuration="0ms" mat-align-tabs="start">
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">currency_exchange</mat-icon>
                Reembolsos
            </ng-template>
            <mat-card>
                <p>
                    <mat-form-field>
                        <mat-label>Fecha</mat-label>
                        <input matInput [matDatepicker]="picker">
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field appearance="fill" value="830037946-3">
                        <mat-label>NIT</mat-label>
                        <input type="number" matInput placeholder="">
                        <mat-icon matSuffix>apartment</mat-icon>
                    </mat-form-field>
                    <mat-form-field appearance="fill" disabled="" value="Panamericana y Paperlería SA">
                        <mat-label>Beneficiario</mat-label>
                        <input matInput placeholder="">
                        <mat-icon matSuffix>account_circle</mat-icon>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Centro de costo</mat-label>
                        <mat-select>
                            <mat-option value="1">1001 Titan Plaza</mat-option>
                            <mat-option value="2">1002 Hayuelos</mat-option>
                            <mat-option value="3">1003 Centro Chia</mat-option>
                            <mat-option value="4">1004 Centro Mayor</mat-option>
                            <mat-option value="5">1006 Santa Fe</mat-option>
                            <mat-option value="6">1010 Andino</mat-option>
                            <mat-option value="6">1011 Galerias</mat-option>
                            <mat-option value="6">1012 Salitre Plaza</mat-option>
                            <mat-option value="6">1013 Plaza de las Americas</mat-option>
                            <mat-option value="6">1014 Fontanar</mat-option>
                            <mat-option value="6">1021 Viva Envigado</mat-option>
                            <mat-option value="6">1022 Lojas BackOfiice</mat-option>
                            <mat-option value="6">1024 Gran Estación</mat-option>
                            <mat-option value="6">1025 Colina</mat-option>
                            <mat-option value="6">1026 Caracoli</mat-option>
                            <mat-option value="6">1027 Tesoro</mat-option>
                            <mat-option value="6">1028 Unicentro</mat-option>
                            <mat-option value="6">1029 Multiplaza</mat-option>
                            <mat-option value="6">1030 CC plaza jardin cali</mat-option>
                            <mat-option value="6">1031 Cartagena serrezuela</mat-option>
                            <mat-option value="6">1032 Ibague la estación</mat-option>
                            <mat-option value="6">1033 Barranquilla buenavista</mat-option>
                            <mat-option value="6">1034 Cucuta plaza jardin</mat-option>
                            <mat-option value="6">1035 Oboticario eventos</mat-option>
                            <mat-option value="6">1036 Unicentro yopal</mat-option>
                            <mat-option value="6">1037 Viva barranquilla</mat-option>
                            <mat-option value="6">1038 Unicentro kiosko</mat-option>
                            <mat-option value="6">1039 Kiosko Diver plaza</mat-option>
                            <mat-option value="6">1040 Diver plaza</mat-option>
                            <mat-option value="6">1041 Jardin Plaza Cali</mat-option>
                            <mat-option value="6">1042 Plaza imperial</mat-option>
                            <mat-option value="6">1043 Mall Plaza </mat-option>
                            <mat-option value="6">1044 Plaza claro</mat-option>
                            <mat-option value="6">1045 Viva Barranquilla</mat-option>
                        </mat-select>
                    </mat-form-field>
                <p>
                    <mat-form-field>
                        <mat-label>Fecha</mat-label>
                        <input matInput [matDatepicker]="pickers">
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="pickers"></mat-datepicker-toggle>
                        <mat-datepicker #pickers></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field appearance="fill" value="830037946-3">
                        <mat-label>NIT</mat-label>
                        <input type="number" matInput placeholder="">
                        <mat-icon matSuffix>apartment</mat-icon>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Concepto de gasto</mat-label>
                        <mat-select>
                            <mat-option value="one">Auxilio de transporte</mat-option>
                            <mat-option value="two">Impresión Ploter</mat-option>
                            <mat-option value="tree">Compra refrigerio</mat-option>
                            <mat-option value="tree">Compra de vasos</mat-option>
                            <mat-option value="tree">Cambio de sencillo</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="fill" value="">
                        <mat-label>Descripción</mat-label>
                        <input type="text" matInput placeholder="">
                        <mat-icon matSuffix>attach_money</mat-icon>
                    </mat-form-field>
                    <mat-form-field appearance="fill" value="">
                        <mat-label>Valor en pesos</mat-label>
                        <input type="number" matInput placeholder="">
                        <mat-icon matSuffix>attach_money</mat-icon>
                    </mat-form-field>
                    <mat-form-field appearance="fill" value="">
                        <mat-label>IVA</mat-label>
                        <input type="number" matInput placeholder="">
                        <mat-icon matSuffix>attach_money</mat-icon>
                    </mat-form-field>
                    <mat-form-field appearance="fill" disabled="" value="">
                        <mat-label>Total</mat-label>
                        <input type="number" matInput placeholder="">
                        <mat-icon matSuffix>payments</mat-icon>
                    </mat-form-field>
                </p>
                <p>
                    Adjunte su comprobante
                </p>
                <p>
                    <input type="file" name="" accept="png, .jpeg, .jpg, pdf">
                </p>
                <mat-card-actions align="end">
                    <button mat-stroked-button>Cancelar</button>
                    <button mat-raised-button color="primary">Enviar</button>
                </mat-card-actions>
            </mat-card>
        </mat-tab>
    </mat-tab-group>
</mat-drawer-container>