    <body>
        <mat-card>
            <mat-card-title>Iniciar Sesión</mat-card-title>
            <mat-card-subtitle>Oboticário</mat-card-subtitle>
            <br><br>
            <mat-form-field appearance="outline">
                <mat-label>Correo electrónico</mat-label>
                <input matInput placeholder="" value="edwin.escobar@grupoboticario.com">
                <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline" aria-required="true">
                <mat-label>Contraseña</mat-label>
                <input type="password" matInput placeholder="" value="admin12345">
                <mat-icon matSuffix>password</mat-icon>
            </mat-form-field>
            <mat-checkbox class="example-margin" [(ngModel)]="checked">Recuérdame</mat-checkbox>
            <button mat-flat-button color="primary" routerLink="/home">Iniciar Sesión</button>
            
        </mat-card>

        
    </body><section>
    