<body>
    <mat-card>
        <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
            <mat-card-title>Iniciar Sesión</mat-card-title>
            <mat-card-subtitle>oBoticário | Reembolsos</mat-card-subtitle>
            <br><br>
            <mat-form-field appearance="outline">
                <mat-label>Correo electrónico</mat-label>
                <input matInput type="text" formControlName="email" required>
                <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline" aria-required="true">
                <mat-label>Contraseña</mat-label>
                <input type="password" matInput placeholder="" value="" required formControlName="password">
                <mat-icon matSuffix>password</mat-icon>
            </mat-form-field>
            <button type="submit" mat-raised-button color="primary">Iniciar Sesión</button>
            <br><br>
            <button mat-stroked-button  color="accent" (click)="onClick()">Continuar con Google</button>
        </form>
    </mat-card>
</body>
<section>